</main>
<footer class="footer">
    <div class="container">
        <div class='footer_block'>
            <div class='footer_item footer_info'>
                <a href="/" class="footer_logo">
                    <img src="assets/imgs/logo.svg" alt="">
                    <div>
                        <div class="text">Торговый комплекс</div>
                        <div class='title'>ЕЛИСАВЕТИНСКИЙ</div>
                        <div class='text'>Строительные и отделочные материалы</div>
                    </div>
                </a>

                <div class='mailing_block'>
                    <div class="title">Будьте в курсе новостей</div>
                    <div class="text">Акции скидки распродажи ждут!</div>
                    <form action="" class="">
                        <input type="email" class="mailing_input" name="email" placeholder="Введите E-mail">
                        <button type="submit" class="btn btn_green">Подписаться</button>
                    </form>
                </div>

                <div class='social_block'>
                    <div class="title">Следите за нами в соц. сетях</div>
                    <ul>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/social/vk.svg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/social/tg.svg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/social/ok.svg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/social/rutube.svg" alt=""></a></li>
                        <li><a href="javascript:void(0)"><img src="assets/imgs/social/max.svg" alt=""></a></li>
                    </ul>
                </div>

                <div class='d-none d-xl-block'>
                    <div class='terms'>
                        Вы принимаете условия <a href="javascript:void(0)">политики в отношении обработки
                            персональных
                            данных</a> и <a href="javascript:void(0)">пользовательского соглашения</a> каждый раз,
                        когда оставляете
                        свои данные в любой форме обратной связи на сайте
                        dom229.ru
                    </div>
                    <div class='copyright'>©2026. dom229.ru</div>
                </div>
            </div>
            <div class='footer_menu_list'>
                <div class='footer_menu_col'>
                    <ul class='footer_menu'>
                        <li>
                            <div class="title">
                                Каталог товаров
                                <svg class="icon w-24">
                                    <use xlink:href="./assets/imgs/sprite.svg#arrow_bottom"></use>
                                </svg>
                            </div>
                            <ul class='footer_submenu'>
                                <li><a href="javascript:void(0)">Строительные материалы</a></li>
                                <li><a href="javascript:void(0)">Отделочные материалы</a></li>
                                <li><a href="javascript:void(0)">Инструмент и крепёж</a></li>
                                <li><a href="javascript:void(0)">Мебель и декор</a></li>
                                <li><a href="javascript:void(0)">Сантехника и канализация</a></li>
                                <li><a href="javascript:void(0)">Вентиляция</a></li>
                                <li><a href="javascript:void(0)">Электротовары</a></li>
                                <li><a href="javascript:void(0)">Спорт и отдых</a></li>
                                <li><a href="javascript:void(0)">Кафе</a></li>
                                <li><a href="javascript:void(0)">Автозапчасти</a></li>
                                <li><a href="javascript:void(0)">Сад и огород</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class='footer_menu_col'>
                    <ul class='footer_menu'>
                        <li>
                            <div class="title">
                                О комплексе
                                <svg class="icon w-24">
                                    <use xlink:href="./assets/imgs/sprite.svg#arrow_bottom"></use>
                                </svg>
                            </div>
                            <ul class='footer_submenu'>
                                <li><a href="javascript:void(0)">Новости и акции</a></li>
                                <li><a href="javascript:void(0)">Карта территории</a></li>
                                <li><a href="javascript:void(0)">Контакты</a></li>
                                <li><a href="javascript:void(0)">Фотогалерея</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="title">Работа у нас</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="title">Калькулятор цен</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="title">Бренды</a>
                        </li>
                    </ul>
                </div>
                <div class='footer_menu_col'>
                    <ul class='footer_menu'>
                        <li>
                            <div class="title">
                                Услуги
                                <svg class="icon w-24">
                                    <use xlink:href="./assets/imgs/sprite.svg#arrow_bottom"></use>
                                </svg>
                            </div>
                            <ul class='footer_submenu footer_submenu_collapsed'>
                                <li><a href="javascript:void(0)">Строительство домов и бань</a></li>
                                <li><a href="javascript:void(0)">Автосервис</a></li>
                                <li><a href="javascript:void(0)">Ремонт и прокат инструмента</a></li>
                                <li><a href="javascript:void(0)">Изготовление металлических
                                        конструкций</a></li>
                                <!-- показываю 4, остальные скрываю -->
                                <li><a href="javascript:void(0)">Электротовары</a></li>
                                <li><a href="javascript:void(0)">Спорт и отдых</a></li>
                                <li><a href="javascript:void(0)">Кафе</a></li>
                                <li><a href="javascript:void(0)">Автозапчасти</a></li>
                                <li><a href="javascript:void(0)">Сад и огород</a></li>
                            </ul>
                            <div class='footer_submenu_all'>
                                <span>Показать еще</span>
                                <span>Скрыть</span>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="title">Аренда торговых площадей</a>
                        </li>
                        <li>
                            <div class='footer_menu_info'>
                                <span>По вопросам аренды</span>
                                <a href="tel:+7 (925) 752-42-44">+7 (925) 752-42-44</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class='d-block d-xl-none'>
                <div class='terms'>
                    Вы принимаете условия <a href="javascript:void(0)">политики в отношении обработки персональных
                        данных</a> и <a href="javascript:void(0)">пользовательского соглашения</a> каждый раз, когда
                    оставляете
                    свои данные в любой форме обратной связи на сайте
                    dom229.ru
                </div>
                <div class='d-flex align-items-end justify-content-between'>
                    <div class='copyright'>©2026. dom229.ru</div>
                    <a href="javascript:void(0)" class='developer_block'>Дизайн и разработка<br>
                        <span>Pavlenko</span>
                    </a>
                </div>
            </div>
            <a href="javascript:void(0)" class='developer_block d-none d-xl-block'>Дизайн и разработка<br>
                <span>Pavlenko</span>
            </a>
        </div>
    </div>
</footer>

<script src="vendors/lazysizes/lazysizes.min.js"></script>
<script src="vendors/jquery/jquery-3.5.1.min.js"></script>
<!-- <script src="vendors/jquery/jquery-validation-1.19.5/jquery.validate.min.js"></script>
    <script src="vendors/jquery/jquery-validation-1.19.5/additional-methods.js"></script>
    <script src="vendors/jquery/jquery-validation-1.19.5/localization/messages_ru.js"></script> -->

<script src="vendors/animate/aos.min.js"></script>
<script src="vendors/fancybox/fancybox.umd.js"></script>

<script src="vendors/bootstrap5/bootstrap.bundle.min.js"></script>
<script src="vendors/tippy/popper.min.js"></script>
<script src="vendors/tippy/tippy-bundle.umd.min.js"></script>
<script src="vendors/imask/imask.js"></script>
<script src="vendors/swiper/swiper-bundle.min.js"></script>
<script src="vendors/plyr/plyr.polyfilled.js"></script>
<script src="src/js/common.js?v=1"></script>
</body>

</html>