<!-- карта -->
<section class='section'>
    <div class="container">
        <h2 data-aos="fade">Мы на карте</h2>
        <div class="map_block">
            <div class="content" data-aos="fade-up">
                <div class='contacts_list'>
                    <div class="item">
                        <div class='title'>Адрес:</div>
                        <div class="text">г. Подольск, ул. Большая Серпуховская д.229</div>
                    </div>
                    <div class="item">
                        <div class='title'>График работы:</div>
                        <div class="text">Пн-Сб с 9:00 до 20:00 <br>
                            Вс - до 18:00</div>
                    </div>
                    <div class="item">
                        <div class='title'>Электронная почта:</div>
                        <a href="mailto:dom229@mail.ru" class="text">dom229@mail.ru</a>
                    </div>
                    <div class="item">
                        <div class='title'>Телефон:</div>
                        <a href="tel:+7 (925) 752-42-44" class="text">+7 (925) 752-42-44</a>
                    </div>
                </div>
                <div class="btn btn_blue">
                    <svg class="icon w-24 -white">
                        <use xlink:href="./assets/imgs/sprite.svg#phone"></use>
                    </svg>
                    Связаться с нами
                </div>
            </div>
            <div class="map_wrapper" data-aos="fade-up" data-aos-delay="200">
                <div class="map" id="map"></div>
            </div>
        </div>

    </div>
</section>