<!-- max -->
<section class='section'>
    <div class="container">
        <div class="messenger_block">
            <div class="content" data-aos="fade-left">
                <div class="title">Есть вопрос или проблема? <br>
                    Мы отвечаем быстро — и держим вас в курсе.</div>
                <div class="text">Вопросы по товарам и павильонам —<br>
                    пишите в чат, подскажем и сориентируем</div>
                <ul class='list'>
                    <li>«Где купить кран?»</li>
                    <li>«Все для ремонта»</li>
                    <li>«Запчасти для иномарок»</li>
                </ul>
                <a href="javascript:void(0)" class="btn">
                    <span>Написать в MAX</span>
                    <div class='icon'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.7216 22.8845C9.46931 22.8845 8.42265 22.5543 6.60333 21.2334C5.45253 22.7194 1.80839 23.8807 1.64946 21.8939C1.64946 20.4024 1.32066 19.142 0.948021 17.7661C0.504158 16.0709 0 14.1831 0 11.4478C0 4.91484 5.33747 0 11.6613 0C17.9906 0 22.95 5.157 22.95 11.5083C22.9712 17.7614 17.9476 22.8512 11.7216 22.8845ZM11.8147 5.64683C8.73502 5.48723 6.33479 7.62819 5.80325 10.9855C5.36485 13.7649 6.14301 17.1497 6.80607 17.3258C7.12391 17.4028 7.92399 16.7534 8.42265 16.2525C9.24724 16.8247 10.2075 17.1683 11.2065 17.2487C14.3976 17.4029 17.1243 14.9629 17.3385 11.7615C17.4632 8.55328 15.0063 5.83594 11.8147 5.65234V5.64683Z"
                                fill="white" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class='img' data-aos="zoom-in">
                <img data-src="./assets/imgs/MAX_logo.png" alt="" class='lazyload'>
            </div>
        </div>
    </div>
</section>